$bg-gray: tan;
$black: BLACK;
$white: WHITE;
$text-gray: BLACK;

$border-radius: 5px;
$box-shadow: 0px 0px 20px rgb(0 0 0 / 12%);
$box-shadow-hover: 0px 0px 20px rgb(0 0 0 / 20%);

//fondos para p
.zonas{
    background-color: tan;
}